.box{
    background-color: brown;
}
.box1{
    color: aqua;
    margin: 10px;
    padding: 20px;
    border:5px solid rgb(12, 236, 87);
    height:100px;
    box-sizing:border-box;
}
.box2{
    color:antiquewhite;
    margin: 30px;
    padding: 20px;
    border:5px solid rgb(49, 13, 212);
    height:100px;
    box-sizing:border-box;
}
*{
    margin: 0;
    padding: 0;
}
